<%= javascript_pack_tag 'index' %>
<%= javascript_pack_tag 'Hello' %>

<% content_for :index do %>
  <h1>Questions Controller Index VIEW</h1>
<% end %>

<% content_for :html_tag do %>
  <p>index.html.erb p tag</p>
<% end %>

<p>another p tag</p>

